{%- from "supervisor/map.jinja" import supervisor with context -%}


{%- for keys in supervisor.conf %}
[{{ keys }}]
   {%- for key, val in supervisor.conf[keys].items() %}
{{ key }}={{ val }}
   {%- endfor %}
{% endfor %}

[include]
files = {{ supervisor.config_path }}/*.conf

{%- if supervisor.programs is defined %}
{% for keys in supervisor.programs %}
[program:{{ keys }}]
   {%- for key, val in supervisor.programs[keys].items() %}
{{ key }}={{ val }}
   {%- endfor %}
{% endfor %}
{% endif %}

